<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Teste Citel | Cadastros</title>

    <link rel="stylesheet" type="text/css" href="~/css/Admin/vendors.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Admin/admin.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Admin/application.css" />  >
</head>
<body>
    <div class="aw-layout-loading  js-loading-overlay">
        <div class="aw-layout-loading__container">
            <span class="aw-balls-spinner">Carregando...</span>
        </div>
    </div>
    <div class="aw-layout-page">
        @await Html.PartialAsync("../Shared/_Menu.cshtml")
        @RenderBody();
    </div>

    @await Html.PartialAsync("../Shared/_Footer.cshtml")

    <script src="~/js/Admin/vendors.min.js"></script>
    <script src="~/js/Admin/admin.min.js"></script>
    <script src="~/js/Admin/adminCustom.js"></script>
    <script src="~/js/Admin/jquery.blockUI.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script><!-- Jquery Core Js -->
    @RenderSection("Scripts", required: false)
</body>
</html>