<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand  hidden-xs" href="#">
                ADMIN
            </a>

            <ul class="nav  navbar-nav">
                <li>
                    <a href="#" class="js-sidebar-toggle"><i class="fa fa-bars"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<aside class="aw-layout-sidebar  js-sidebar">
    <div class="aw-layout-sidebar__content">
        <nav class="aw-menu  js-menu">
            <ul class="aw-menu__list">
                <li class="aw-menu__item  is-active">
                    <a href="#">
                        <i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span>

                    </a>
                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link"><a href="/Product/Create">Produto</a></li>
                    </ul>
                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link"><a href="/Category/Create">Categoria</a></li>
                    </ul>
                </li>             
                @*<li class="aw-menu__item">
                    <a href="/Admin/Logoff">
                        <i class="fa fa-windows"></i><span>Logout</span>
                    </a>
                </li>*@
            </ul>
        </nav>
    </div>
</aside>